<div class="black-bar">

</div>
<nav class="navbar">

  <div class="navbar-header">
      {{ if not .IsHome }}
        <a class="navbar-brand" href="{{ "" | absLangURL }}"><img class="logo-nav" src="https://mechlang.net/img/logo-small.png" /></a>
      {{ end }}
  </div>
  <div class="spacer"></div>
  <div class="collapse navbar-collapse" id="main-navbar">
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a title="Community" href="/page/community/">Community</a>
      </li>
      <li>
        <a title="Learn" href="/page/learn/">Learn</a>
      </li>
      <li>
        <a title="Blog" href="/blog/">Blog</a>
      </li>
      <li>
        <a title="Try" href="http://try.mechlang.net">Try</a>
      </li>
    </ul>
  </div>

</nav>

<!-- Search Modal -->
{{ if isset .Site.Params "gcse" }}
  <div id="modalSearch" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{{ i18n "gcseLabelLong" . }}</h4>
        </div>
        <div class="modal-body">
          <gcse:search></gcse:search>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">{{ i18n "gcseClose" }}</button>
        </div>
      </div>
    </div>
  </div>
{{ end }}
