<div class="black-bar">

</div>
<nav class="navbar">

  <div class="navbar-header">
      {{ if not .IsHome }}
        <a class="navbar-brand" href="{{ "" | absLangURL }}"><img class="logo-nav" src="https://mechlang.net/img/logo-small.png" /></a>
      {{ end }}
  </div>
  <div class="spacer"></div>
  <div class="collapse navbar-collapse" id="main-navbar">
    <ul class="nav navbar-nav navbar-right">
      {{ $currentPage := . }}
      {{ range .Site.Menus.main.ByWeight }}
        {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}
        <li class="nav-active">
          <a title="{{ .Name }}" href="{{ .URL  | relLangURL }}">>{{ .Name }}</a>
        </li>
        {{else}}
        <li>
            <a title="{{ .Name }}" href="{{ .URL  | relLangURL }}">{{ .Name }}</a>
        </li>
        {{end}}
      {{ end }}
        <li>
          <a title="Play" href="http://play.mechlang.net">Play</a>
        </li>
    </ul>
  </div>

</nav>

<!-- Search Modal -->
{{ if isset .Site.Params "gcse" }}
  <div id="modalSearch" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{{ i18n "gcseLabelLong" . }}</h4>
        </div>
        <div class="modal-body">
          <gcse:search></gcse:search>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">{{ i18n "gcseClose" }}</button>
        </div>
      </div>
    </div>
  </div>
{{ end }}
