@import url("pygment_highlights.css");

@font-face {
  font-family: 'Fira';
  src: url('https://mechlang.net/fonts/FiraCode-Regular.ttf');
}
/* --- General --- */

body {
  font-family: 'Lora', 'Times New Roman', serif;
  font-size: 16px;
  color: #404040;
  position: relative;
  background: #FFF;
  font-variant-ligatures: normal;
  line-height: 25px;
  padding:0px;
  margin:0px;
}
p {
  line-height: 1.5;
  margin: 30px 0;
}
p a {
  /* text-decoration: underline */
  color: rgb(91, 34, 127);
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Fira', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 800;
}

a {
  color: rgb(91, 34, 127);
  text-decoration: none;
}
a:hover,
a:focus {
  color: rgb(91, 34, 127);
}

.navbar {
  padding-top: 40px;
  padding-bottom: 20px;
  max-width: 750px;
  margin: auto;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: row;
}

.spacer {
  width: 100%;
  flex-grow: 1;
}

.navbar-header {
  text-align: center;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 600px) {
  .navbar {
    flex-direction: column;
  }
}

#main-navbar li {
  list-style-type: none;
  padding-left: 50px;
  font-family: 'Fira';
  font-weight: bold;
}

.navbar-nav:first-child { 
  padding-left: 0px;
}


#main-navbar li a {
  color: #404040;
}

#main-navbar li a:hover {
  color: rgb(91, 34, 127);
  text-decoration:underline;
}

.container {
  max-width: 750px;
  padding:20px;
  margin: auto;
}

.logo {
  padding-top: 20px;
  padding-bottom: 20px;
  margin: auto;
  width: 60%;
}

.logo-nav {
  margin: auto;
  width: 150px;
}

.post-meta {
  color: rgb(0,121,177);
  font-weight: bold;
}
.well {
  font-family: 'Fira';
  font-size: 18px;
  margin-bottom: 20px;
  text-align: justify;
}

.black-bar {
  width: 100%;
  height: 5px;
  background-color: #000;
}