@import url("pygment_highlights.css");

@font-face {
  font-family: 'Fira';
  src: url('https://mechlang.net/fonts/FiraCode-Regular.ttf');
}
/* --- General --- */

body {
  font-family: 'Lora', 'Times New Roman', serif;
  font-size: 16px;
  color: #404040;
  position: relative;
  background: #FFF;
  font-variant-ligatures: normal;
  line-height: 25px;
}
p {
  line-height: 1.5;
  margin: 30px 0;
}
p a {
  /* text-decoration: underline */
  color: rgb(91, 34, 127);
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Fira', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 800;
}

a {
  color: rgb(91, 34, 127);
  text-decoration: none;
}
a:hover,
a:focus {
  color: rgb(91, 34, 127);
}

.navbar {
  padding-top: 40px;
  padding-bottom: 20px;
  width: 750px;
  margin: auto;
  display: flex;
  flex-direction: row;
}

.spacer {
  flex-grow: 1;
}

.navbar-header {

}

.navbar-nav {

}

.navbar-nav {
  display: flex;
  flex-direction: row;
}

.navbar-nav li {
  list-style-type: none;
  padding-left: 50px;
  font-family: 'Fira';
  font-weight: bold;
}

.navbar-nav li a {
  color: #404040;
}

.navbar-nav li a:hover {
  color: rgb(91, 34, 127);
  text-decoration:underline;
}

.container {
  width: 750px;
  margin: auto;
}

.logo {
  padding-top: 20px;
  padding-bottom: 20px;
  margin: auto;
  width: 60%;
}

.logo-nav {
  margin: auto;
  width: 60%;
}

.post-meta {
  color: rgb(0,121,177);
  font-weight: bold;
}